{% extends 'default/header/header_portfoli.html.twig' %}

{% block javascript %}
    <script src="{{ asset('js/slider.js')}}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h3>Cards</h3>
            <div class="panel-group" id="acordeon">
                {% for s in sub %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#acordeon" href="#collapse{{(s)}}">{{(s)}}</a>
                            </h4>
                        </div>
                        <div id="collapse{{(s)}}" class="panel-collapse collapse">
                            {% for card in portfoli.cards %}
                                {% for subcategories in card.subCategories %}
                                    {% if subcategories.nameSubcategory == s %}
                                        <div class="panel-body"><a href="/card/{{(card.id)}}">{{(card.title)}}</a></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 format-forms color-azul">
                    <div class="row">
                        <div class="col-md-11">
                            <h1>{{card.title}}</h1>
                            {{card.description|raw}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {% for article in card.articles %}
                                <article>
                                    <h3>{{article.title}}</h3>
                                    <p>{{article.content|raw}}</p>
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div id="myCarousel{{(article.id)}}" class="carousel slide" data-ride="carousel">
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <!-- Items -->
                                                    {% set i=0 %}
                                                    {% for image in article.images %}
                                                        {% if i==0 %}
                                                            <div class="item active">
                                                            {% else %}
                                                                <div class="item">
                                                                {% endif %}
                                                                <img width="500" src="{{asset('img/articles/'~image.image)}}">
                                                                <div class="carousel-caption">
                                                                    <h3>{{(image.title)}}</h3>
                                                                    <a hred="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal{{(image.id)}}">Read me</a>
                                                                </div>
                                                            </div>
                                                            {% set i=i+1 %}
                                                        {% endfor %}
                                                        <!-- End Items -->
                                                    </div>
                                                    <ul class="nav nav-pills nav-justified">
                                                        {% set i=0 %}
                                                        {% for image in article.images %}
                                                            {% if i==0 %}
                                                                <li data-target="#myCarousel{{(article.id)}}" data-slide-to="{{(i)}}" class="active">
                                                                {% else %}
                                                                <li data-target="#myCarousel{{(article.id)}}" data-slide-to="{{(i)}}">
                                                                {% endif %}
                                                                <a href="#">
                                                                    <small><img width="25" class="barra" src="{{asset('img/articles/'~image.image)}}"></small>
                                                                </a>
                                                            </li>
                                                            {% set i=i+1 %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% for article in card.articles %}
    {% for image in article.images %}
    <div class="modal fade" id="myModal{{(image.id)}}" role="dialog">
        <div class="modal-dialog tam-modal">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header centro">
                    <h2 class="modal-title">{{(image.title)}}</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <img width="700" src="{{ asset('img/articles/'~image.image)}}" title="{{(image.title)}}"
                                 alt="{{(image.title)}} not found">
                        </div>
                        <div class="col-md-4">
                            {{(image.description|raw)}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
    {% endfor %}
{% endblock %}
