{% extends 'default/header/header_all.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 format-forms color-azul">
              <div class="row">
                  <div class="col-md-11">
                  <h1>{{title}}</h1>
                  <p>You can contact me using your email or this webpage.</p>
                  {{ form_start(form) }}
                  {{ form_end(form) }}
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
