{% extends 'default/header/header_portfoli.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 format-forms color-azul">
              <div class="row">
                <div class="col-md-11">
                  <h1>{{title}}</h1>
                  <p>You can contact me using your email or this webpage.</p>
                  <fieldset>
                      <legend>My data:</legend>
                      Full name: {{portfoli.idUser.name}} {{portfoli.idUser.surname}} {{portfoli.idUser.lastname}}<br/>
                      Date of birth: {{portfoli.idUser.date|date('Y-m-d')}}<br/>
                      Phone number: {{portfoli.idUser.phone}}<br/>
                      Email: {{portfoli.idUser.email}}<br/>
                      City: {{portfoli.idUser.city}}<br/>
                      Country {{portfoli.idUser.country}}<br/>
                  </fieldset>
                  <hr>
                  {{ form_start(form) }}
                  {{ form_end(form) }}
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
