<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/estilos.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ventana.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('tinymce/js/tinymce/skins/lightgray/content.min.css')}}" />
    <script src="{{ asset('js/jquery-2.2.4.js')}}"></script>
    <script src="{{ asset('js/bootstrap.js')}}"></script>
    <script src="{{ asset('js/jquery-ui.js')}}"></script>
    <script src="{{ asset('js/functions.js')}}"></script>
    <script src="{{ asset('tinymce/js/tinymce/tinymce.js')}}"></script>
    <script>tinymce.init({selector: 'textarea'});
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navy-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/portfolis">Portfolis</a>
            </div>
            <!-- Iniciar menu -->
            <div class="collapse navbar-collapse" id="navy-1">
                <ul class="nav navbar-nav tt-wrapper">
                    <li><a href="/portfolis" >Home</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="/myportfolis" >My Porfolis</a></li>
                        <li><a href="/createportfoli" >Create Porfoli</a></li>
                        {% else %}
                        <li class="window menu"><span>You must be logged to wiew portfolis</span><a class="color-red" href="#" >My Porfolis</a></li>
                        <li class="window menu"><span>You must be logged to create portfolis</span><a class="color-red" href="#">Create Porfoli</a></li>
                        {% endif %}
                    <li><a href="/contact" >Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{(user)}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li ><a href="/edituser">Edit {{(user)}}</a></li>
                                <li class="divider"></li>
                                <li ><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/">Log in</a></li>
                        <li><a href="/register">Register</a></li>
                        {% endif %}
                    <li>
                        <form action="/searchportfolis" class="navbar-form" role="search" method="get">
                            <div class="form-group">
                                <input type="text" id="tag" name="tag" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <header>
    {% block jumbotron %}{% endblock %}
</header>
<section class="body">
    <div class="row">
        <div class="col-md-12">
        {% block body %}{% endblock %}
    </div>
</div>
</section>
<footer>
    <div class="row">
            <div class="copyright">Ⓒ Copyright | All rights Reserved | Sergi Martinez & Enrique Flo</div>
    </div>
</footer>
</body>
</html>
