{% extends 'default/header/header_portfoli.html.twig' %}
{% block body %}
<div id="formu" class="format">
  <div class="row format-add color-black">
    <div class="col-md-2"><h5>Card</h5></div>
    <div class="col-md-2"><h5>Title</h5></div>
    <div class="col-md-5"><h5>Description</h5></div>
    <div class="col-md-1"><h5>Add image</h5></div>
    <div class="col-md-1"><h5>Edit article</h5></div>
    <div class="col-md-1"><h5>Delete article</h5></div>
  </div>
  {% if card.articles|length==0%}
  <div class="row">
    <div class="col-md-4 colmd-offset-1">
      <h3>Any articles in this card</h3>
    </div>
  </div>
  {% else %}
  {% for article in card.articles %}
    <div class="row">
      <div class="col-md-2"><h5>{{(article.idCard.title)}}</h5></div>
      <div class="col-md-2"><h5>{{(article.title)}}</h5></div>
	    <div class="col-md-5"><h5>{{(article.content)}}</h5></div>
      <div class="col-md-1">
        <a href="/image/{{(article.id)}}"><img src="{{ asset("img/icons/add.png")}}" alt="add" tittle="add" width="30"></a>
      </div>
      <div class="col-md-1">
        <a href="/editarticle/{{(article.id)}}"><img src="{{ asset("img/icons/edit.png")}}" alt="edit" tittle="edit" width="30"></a>
      </div>
      <div class="col-md-1">
        <a href="/deletearticle/{{(article.id)}}"  onclick="return confirm('Are you sure delete article ?')"><img src="{{ asset("img/icons/delete.png")}}" alt="delete" tittle="delete" width="30"></a>
      </div>
    </div>
  {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <a href="/portfoli/{{(card.idPortfoli.id)}}" class="btn btn-primary btn-md">Portfoli</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <a href="/cards/{{(card.idPortfoli.id)}}" class="btn btn-primary btn-md">List cards</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <a href="/formarticle/{{(card.id)}}" class="btn btn-primary btn-md">Create Article</a>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
