{% extends 'default/header/header_portfoli.html.twig' %}
{% block body %}
    <div id="formu" class="row">
        <div class="col-md-8 col-md-offset-2 format-forms color-azul">
            <div class="format-form">
                {{ form_start(form) }}
                <fieldset>
                    <legend>{{(title)}}</legend>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row line">
                                <div class="col-md-8 col-md-offset-1 mostrar">
                                    <img src="{{asset("img/images/asd.jpg")}}" width="148">
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-10">
                                    <label for="form_image" class="btn btn-default largo">
                                        {{ form_row(form.image) }}
                                        Add image user *
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row line">
                                <div class="col-md-9">
                                    {{ form_row(form.title) }}
                                </div>
                                <div class="col-md-2">*</div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    {{ form_row(form.description) }}
                                </div>
                                <div class="col-md-2">*</div>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    <a href="/portfoli/{{(article.idCard.idPortfoli.id)}}" class="btn btn-primary btn-md">Portfoli</a>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <a href="/cards/{{(article.idCard.idPortfoli.id)}}" class="btn btn-primary btn-md">List cards</a>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <a href="/articles/{{(article.idCard.id)}}" class="btn btn-primary btn-md">List article</a>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <a href="/image/{{(article.id)}}" class="btn btn-primary btn-md">List Images</a>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <input type="submit" class="btn btn-primary btn-md" value="{{(title)}}"/>
                </div>
            </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
        <div>
        </div>
    {% endblock %}
