{% extends 'default/header/header_portfoli.html.twig' %}
{% block body %}
    <div id="formu" class="format">
        <div class="row format-add color-black">
            <div class="col-md-2"><h5>Card</h5></div>
            <div class="col-md-2"><h5>Article</h5></div>
            <div class="col-md-2"><h5>Title</h5></div>
            <div class="col-md-3"><h5>Description</h5></div>
            <div class="col-md-1"><h5>Image</h5></div>
            <div class="col-md-1"><h5>Edit image</h5></div>
            <div class="col-md-1"><h5>Delete image</h5></div>
        </div>
        {% if article.images|length==0%}
            <div class="row">
                <div class="col-md-4 colmd-offset-1">
                    <h3>Any Images in this Article</h3>
                </div>
            </div>
        {% else %}
            {% for image in article.images %}
                <div class="row">
                    <div class="col-md-2"><h5>{{(image.idArticle.idCard.title)}}</h5></div>
                    <div class="col-md-2"><h5>{{(image.idArticle.title)}}</h5></div>
                    <div class="col-md-2"><h5>{{(image.title)}}</h5></div>
                    <div class="col-md-3"><h5>{{(image.description)}}</h5></div>
                    <div class="col-md-1"><img src="{{ asset('img/articles/'~image.image) }}" width="30"></div>
                    <div class="col-md-1">
                        <a href="/editimage/{{(image.id)}}"><img src="{{ asset("img/icons/edit.png")}}" alt="edit" tittle="edit" width="30"></a>
                    </div>
                    <div class="col-md-1">
                        <a href="/deleteimage/{{(image.id)}}"  onclick="return confirm('Are you sure delete image ?')"><img src="{{ asset("img/icons/delete.png")}}" alt="delete" tittle="delete" width="30"></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <a href="/portfoli/{{(article.idCard.idPortfoli.id)}}" class="btn btn-primary btn-md">Portfoli</a>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <a href="/cards/{{(article.idCard.idPortfoli.id)}}" class="btn btn-primary btn-md">List cards</a>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <a href="/articles/{{(article.idCard.id)}}" class="btn btn-primary btn-md">List article</a>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <a href="/formimage/{{(article.id)}}" class="btn btn-primary btn-md">Create image</a>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
