{% extends 'base.html.twig' %}
{% block jumbotron %}
<!-- Jumbotron -->
<div class="jumbotron color-azul">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <center><h1>Portfolis</h1></center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2  col-md-offset-5">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="/createportfoli" class="btn btn-primary">Create portfoli</a>
        {% else %}
        <a href="#" class="btn btn-primary window jumbo1" disabled>
                <span>You must be logged to create portfolis</span>
                      Create portfoli</a>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
      </div>
<!-- End Jumbotron -->
{% endblock %}
{% block body %}{% endblock %}
