{% extends 'base.html.twig' %}
{% block jumbotron %}
    <!-- Jumbotron -->
    <div class="jumbotron color-azul">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 centro">
                    <h1 class="cg">{{(portfoli.title)}}</h1>
                </div>
            </div>
            {% if rute=="user" %}
                <div class="row">
                    <div class="col-md-2 col-md-offset-1 centro">
                        <a href="/portfoli/{{(portfoli.id)}}" class="btn btn-primary">Home portfoli</a>
                    </div>
                    <div class="col-md-2 centro">
                        <a href="/cards/{{(portfoli.id)}}" class="btn btn-primary div-tam">List Card</a>
                    </div>
                    <div class="col-md-2 centro">
                        <a href="/editportfoli/{{(portfoli.id)}}" class="btn btn-primary">Edit portfoli</a>
                    </div>
                    <div class="col-md-2 centro">
                        <a href="/deleteportfoli/{{(portfoli.id)}}" onclick="return confirm('Are you sure delete portfoli ?')" class="btn btn-primary">Delete Portfoli</a>
                    </div>
                    <div class="col-md-2 centro">
                        <a href="/contactme/{{(portfoli.id)}}" class="btn btn-primary">contact me</a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-2 col-md-offset-4 centro">
                        <a href="/portfoli/{{(portfoli.id)}}" class="btn btn-primary">Home portfoli</a>
                    </div>
                    <div class="col-md-2 centro">
                        <a href="/contactme/{{(portfoli.id)}}" class="btn btn-primary">contact me</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- End Jumbotron -->
{% endblock %}
{% block body %}{% endblock %}
