{% extends 'base.html.twig' %}
{% block body %}
    <div class="separator-xd"></div>
    <div class="separator-md"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <img src="{{asset('img/icons/403-forbidden-error.jpg')}}" width="400" alt="access denied" title="access denied">
        </div>
    </div>
{% endblock %}
