{# app/Resources/views/default/formInsert.html.twig #}
{% extends 'default/header/header_all.html.twig' %}
{% block body %}
<div id="formu" class="row">
    <div class="col-md-8 col-md-offset-2 color-azul format-forms">
			{{ form_start(form) }}
				<fieldset>
					<div class="row">
						<div class="col-md-8">
							<h1>{{(title)}}</h1>
						</div>
						<div class="col-md-3">
							<p>* required</p>
						</div>
					</div>
					<hr>
          <div class="row">
              <div class="col-md-4">
                <div class="row">
                    <div class="col-md-11">
                        <div class="mostrar"><img width="240" src="{{asset(img) }}"
                             class="circle" alt="Smiley face"> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <label for="form_linkImage" class="btn btn-default largo">
                          {{ form_row(form.linkImage) }}
                          Add image user *
                        </label>
                    </div>
                </div>
              </div>
              <div class="col-md-8">
        					<div class="row">
        						<div class="col-md-9">
        							<legend>Personal Dates</legend>
        						</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        							{{ form_row(form.name) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        							{{ form_row(form.surname) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.lastname) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.date) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.gender) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="col-md-9 col-md-offset-1">
        						<legend>Contact</legend>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.phone) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.email) }}
        						</div>
                    {% if errormail == false %}
        						<div class="col-md-1">*</div>
                    {% else %}
                    <div class="col-md-1 windowform">*<span>The Email is repeated</span></div>
                    {% endif %}
        					</div>
        					<div class="col-md-9 col-md-offset-1">
        						<legend>Location</legend>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.type) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.street) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.number) }}
        						</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.floor) }}
        						</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.door) }}
        						</div>

        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.cp) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.city) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.country) }}
        						</div>
        						<div class="col-md-1">*</div>
        					</div>
        					<div class="col-md-9 col-md-offset-1">
        						<legend>Access</legend>
        					</div>
        					<div class="row line">
        						<div class="col-md-9 col-md-offset-1">
        			    		{{ form_row(form.username) }}
        						</div>
                    {% if erroruser == false %}
        						<div class="col-md-1">*</div>
                    {% else %}
                    <div class="col-md-1 windowform">*<span>The username is repeated</span></div>
                    {% endif %}
        					</div>
        					<div class="row line">
        						<div class="col-md-4">
        							<button type="submit" class="btn btn-primary btn-md largo">Register!</button>
        						</div>
        					</div>
              </div>
          </div>
				</fieldset>
			{{ form_end(form) }}
		<div>
</div>
{% endblock %}
