{# app/Resources/views/default/formInsert.html.twig #}
{% extends 'default/header/header_all.html.twig' %}
{% block body %}
{{ form_start(form) }}
</div class="row">
  <div class="col-md-6 col-md-offset-3 format-forms color-azul">
    {{ form_start(form) }}
    <div class="row line">
      <div class="col-md-10 col-md-offset-1">
        <legend>{{(title)}}</legend>
      </div>
    </div>
    <div class="row line">
      <div class="col-md-9 col-md-offset-1">
        {{ form_row(form.email) }}
      </div>
      {% if errormail %}
      <div class="col-md-1">*</div>
      {% else %}
      <div class="col-md-1 windowform">*<span>The Email no exist</span></div>
      {% endif %}
    </div>
    <div class="row line">
      <div class="col-md-9 col-md-offset-1">
        {{ form_row(form.password) }}
      </div>
      <div class="col-md-1">*</div>
    </div>
    <div class="row line">
      <div class="col-md-9 col-md-offset-1">
        {{ form_row(form.plainPassword.first) }}
      </div>
      <div class="col-md-1">*</div>
    </div>
    <div class="row line">
      <div class="col-md-9 col-md-offset-1">
        {{ form_row(form.plainPassword.second) }}
      </div>
      <div class="col-md-1">*</div>
    </div>
    <div class="row line">
      <div class="col-md-9 col-md-offset-1">
        <button type="submit" class="btn btn-primary btn-md">Change password</button>
      </div>
    </div>

    {{ form_end(form) }}
  </div>
</div>

{% endblock %}
