{% extends 'default/header/header_all.html.twig' %}
{% block body %}
<form action="{{ path('login') }}" method="post">
<div class="row">
  <div class="col-md-6 col-md-offset-3 color-azul line format-forms">
	<div class="row">
		<div class="col-md-12">
			<h1>Logged User</h1>
		</div>
	</div>
  <hr>
	<div class="row">
		<div class="col-md-4">
			<label for="username">Username:</label>
		</div>
		<div class="col-md-8">
			<input type="text" id="username" name="_username" value="{{ (last_username) }}" />
		</div>
	</div>
    <div class="row">
		<div class="col-md-4">
			<label for="password">Password:</label>
		</div>
		<div class="col-md-8">
			<input type="password" id="password" name="_password" />
		</div>
	</div>
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
	<div class="row">
    <div class="col-md-3">
      <a href="/forgotpass" class="btn btn-primary btn-md">Forggot password</a>
    </div>
		<div class="col-md-3">
			<button type="submit" class="btn btn-primary btn-md">Logged user</button>
		</div>
	</div>
  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  </div>
</div>
</form>

{% endblock %}
