section{
    min-height: 600px;
}

footer{
    background-color: black;
}

legend, h1, h5, h3, h6, h4, h2{
    font-weight: bold;
}

h6{
    font-size: 10px;
}

p{
    text-align: justify;

}

.centro{
    text-align: center;
}

.date-card-form{
    background-color: #A9F5D0;
}

.date-card-form-year{
    background-color: white;
}

.format-date{
    border: 2px solid black;
    border-radius: 5px;
}

.tope{
    margin-top: 20px;
}

.centro-btn{
    width:100%;
}

.separator{
    height: 10px;
}

.separator-md{
    height: 50px;
}

.separator-xd{
    height: 100px;
}

.color-azul{
    background-color: lightsteelblue;
}

#tags{
    z-index: 10;
}

.mostrar{
    background-color: #F6CECE;
    color:red;
    border: 1px solid white;
    padding: 1px;
    border-radius: 10px;
}

#form_imgPortfoli, #form_linkImage, #form_image{
    display:none;
}
.radius-img{
    border-radius: 25px;
}
.color-red:hover{
    color: red;
}

.color-black{
    background-color: black;
    color: white;
}

.font-black{
    background-color: #58D3F7;
    color: #424242;
    text-align: center;
}

.alto{
    height: 1299px;
}

.format{
    background-color: lightsteelblue;
    width: 80%;
    min-height: 25px;
    margin: 3px auto;
    border-radius: 25px;
    overflow: hidden;
}

.format-forms{
    border-radius: 15px;
    padding: 20px 0 30px 60px;
}

.format-add{
    width: 100%;
    height: 50px;
    margin-left: 0;
    border-radius: 20px 20px 0px 0px;
}

input[type=text], input[type=email], input[type=password]{
    height: 25px;
    border-radius: 7px;
}

input[type=text], input[type=email], input[type=password], .tam{
    width: 200px;
}

.date{
    float: right;
    margin-right: 90px;
}

.line{
    line-height: 30px;
}

label{
    width: 140px;
}

.largo{
    width: 340px;
}

.esq{
    border-radius: 25px 0 0 25px;
    margin-left: -15px;
    padding-top: 2px;
}

.remarcar{
    border: 0;
    border-top: 3px solid #000
}

.tam-modal{
    width: 80%;
}

/* Slider */
.carousel .nav a small
{
    display: block;
}
.carousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}

.carousel .item{
    height: 250px;
}

.barra{
    height: 25px;
}

.code{
    background-color: darkslategray;
    border-radius: 25px;
    border: 3px solid;
    border-color: #FFFFE3;
    padding: 20px;
    color: white;
}

.copyright {
    text-align: center;
    color: white;
    background: #101010;
}

.body{
    padding-bottom: 48px;
}
