{% extends 'default/header/header_all.html.twig' %}
{% block body %}
<div id="formu" class="row">
    <div class="col-md-6 col-md-offset-3 format-forms color-azul">
			{{ form_start(form) }}
			<fieldset>
				<legend>{{(title)}}</legend>
				<div class="row">
					<div class="col-md-3">
						<div class="row line">
				  		<div class="col-md-9 col-md-offset-1 mostrar">
								<img src="{{asset("img/images/asd.jpg")}}" width="148">
							</div>
						</div>
						<div class="row line">
				  		<div class="col-md-12">
								<label for="form_imgPortfoli" class="btn btn-default largo">
									{{ form_row(form.imgPortfoli) }}
									Add image portfoli
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row line">
							<div class="col-md-9">
								{{ form_row(form.title) }}
							</div>
							<div class="col-md-1">*</div>
						</div>
						<div class="row line">
							<div class="col-md-5">
								{{ form_row(form.isPremium) }}
							</div>
							{% if free is empty %}
							<div class="col-md-2">*</div>
                    		{% else %}
							<div class="col-md-2 windowform">* <span>Only one free portfoli</span></div>
                    		{% endif %}
						</div>
            <div class="row line">
							<div class="col-md-5">
								{{ form_row(form.isInformatic) }}
							</div>
						</div>
						<div class="row line">
							<div class="col-md-9">
							{{ form_row(form.idCategory) }}
							</div>
							<div class="col-md-2">*</div>
						</div>
					</div>
				</div>
			</fieldset>
			{{ form_end(form) }}
		<div>
	</div>
{% endblock %}
