{% extends 'default/header/header_portfoli.html.twig' %}
{% block body %}
<div id="formu" class="row">
    <div class="col-md-4 col-md-offset-4 format-forms color-azul">
      {{ form_start(form) }}
      <fieldset>
				<legend>{{(title)}}</legend>
        <div class="row line">
          <div class="col-md-12">
            <img src="{{ asset('img/portfolis/'~portfoli.imgPortfoli) }}" width="340" height="230">
          </div>
        </div>
        <div class="row line">
          <div class="col-md-12">
            <label for="form_imgPortfoli" class="btn btn-default largo">
              {{ form_row(form.imgPortfoli) }}
              Edit image portfoli
            </label>
          </div>
        </div>
        <hr>
        <div class="row line">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-md largo">Edit image portfoli</button>
          </div>
        </div>
      </fieldset>
  		{{ form_end(form) }}
    </div>
</div>
{% endblock %}
