{% extends 'default/header/header_portfoli.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/listCards.css')}}" />
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h3>Cards</h3>
            <div class="panel-group" id="acordeon">
                {% for s in sub %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#acordeon" href="#collapse{{(s)}}">{{(s)}}</a>
                            </h4>
                        </div>
                        <div id="collapse{{(s)}}" class="panel-collapse collapse">
                            {% for card in portfoli.cards %}
                                {% for subcategories in card.subCategories %}
                                    {% if subcategories.nameSubcategory == s %}
                                        <div class="panel-body"><a href="/card/{{(card.id)}}">{{(card.title)}}</a></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            {% for card in portfoli.cards %}
                {% set date = card.dateStringCard|split(',') %}
                <div class="row">
                    <div class="col-md-12 card">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="centro tope format-date">
                                    {% set i = 0 %}
                                    {% for d in date %}
                                        {% if i == 0 %}
                                            <div class="date-card-form">{{(d)}}</div>
                                        {% else %}
                                            <div class="date-card-form-year">{{(d)}}</div>
                                        {% endif %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-10 card">
                                <h2>{{card.title}}</h2>
                            </div>
                        </div>
                        <hr class="remarcar">
                        <p><span class="glyphicon glyphicon-user"></span> by
                            <i>{{(card.idPortfoli.idUser.name)}} {{(card.idPortfoli.idUser.surname)}}</i>
                        </p>
                        {{(card.description|raw)}}
                        <a class="col-md-offset-10 btn btn-primary" href="/card/{{card.id}}">Read more</a>
                        <br/>
                        <br/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
