{% extends 'default/header/header_all.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% set counter = 0 %}
    {% for portfoli in portfolis %}
      {% if(counter%3==0) %}
      <div class="row">
      {% endif %}
          <div class="col-md-4">
            <div class="row format">
              <div class="col-md-7">
                <img src="{{ asset('img/portfolis/'~portfoli.imgPortfoli) }}" width="170" height="130" class="esq">
              </div>
              <div class="col-md-5">
                <h4>{{ (portfoli.title) }}</h4>
                <h6 class="sub-text">{{ (portfoli.dateString) }}</h6>
                <a href="/portfoli/{{ (portfoli.id) }}" class="btn btn-primary btn-sm">Read more</a>
              </div>
            </div>
          </div>
      {% if(counter%3==2 or counter==portfolis|length) %}
      </div>
      {% endif %}
      {% set counter = counter + 1 %}
    {% endfor %}
  </div>
</div>
{% endblock %}
