{% extends 'default/header/header_portfoli.html.twig' %}
{% block body %}
	<div id="formu" class="row">
        	<div class="col-md-8 col-md-offset-2 format-forms color-azul">
			<div class="format-form">
			{{ form_start(form) }}
			<fieldset>
				<legend>{{(title)}}</legend>
				<div class="row line">
					<div class="col-md-8 col-md-offset-1">
						{{ form_row(form.title) }}
					</div>
					<div class="col-md-2">*</div>
				</div>
				<div class="row line">
					<div class="col-md-8 col-md-offset-1">
						{{ form_row(form.subCategories) }}
					</div>
					<div class="col-md-2">*</div>
				</div>
				{% if portfoli.isInformatic == 1 %}
				<div class="row line">
					<div class="col-md-8 col-md-offset-1 font-black">
						<h5><i>Para introducir codigo utiliza las etiquetas [code] al principio y al final</i></h5>
					</div>
			  </div>
				</div>
				{% endif %}
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						{{ form_row(form.description) }}
					</div>
					<div class="col-md-2">*</div>
				</div>
				<div class="row line">
					<div class="col-md-8 col-md-offset-1">
						{{ form_row(form.link) }}
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-1 col-md-offset-1">
						<a href="/portfoli/{{(portfoli.id)}}"  class="btn btn-primary btn-md" >Portfoli</a>
					</div>
					<div class="col-md-1 col-md-offset-1">
						<a href="/cards/{{(portfoli.id)}}"  class="btn btn-primary btn-md" >List cards</a>
					</div>
					<div class="col-md-1 col-md-offset-1">
						<input type="submit" class="btn btn-primary btn-md" value="{{(title)}}"/>
					</div>
				</div>
			</fieldset>
			{{ form_end(form) }}
			</div>
		<div>
	</div>
{% endblock %}
