{% extends 'default/header/header_portfoli.html.twig' %}
{% block body %}
    <div id="formu" class="format">
        <div class="row format-add color-black">
            <div class="col-md-1"><h5>Id</h5></div>
            <div class="col-md-3"><h5>Title</h5></div>
            <div class="col-md-2"><h5>Category</h5></div>
            <div class="col-md-2"><h5>Add article</h5></div>
            <div class="col-md-2"><h5>Edit card</h5></div>
            <div class="col-md-2 "><h5>Delete card</h5></div>
        </div>
        {% if portfoli.cards|length==0%}
            <div class="row">
                <div class="col-md-4 colmd-offset-1">
                    <h3>Any cards in this portfoli</h3>
                </div>
            </div>
        {% else %}
            {% for card in portfoli.cards %}
                <div class="row">
                    <div class="col-md-1"><h5>{{(card.id)}}</h5></div>
                    <div class="col-md-3"><h5>{{(card.title)}}</h5></div>
                    <div class="col-md-2">
                        {%for category in card.subCategories%}
                            <h5>{{(category.nameSubcategory)}}</h5>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <a href="/articles/{{(card.id)}}"><img src="{{ asset("img/icons/add.png")}}" alt="add" tittle="add" width="30"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="/editcard/{{(card.id)}}"><img src="{{ asset("img/icons/edit.png")}}" alt="edit" tittle="edit" width="30"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="/deletecard/{{(card.id)}}"  onclick="return confirm('Are you sure delete card ?')"><img src="{{ asset("img/icons/delete.png")}}" alt="delete" tittle="delete" width="30"></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <a href="/portfoli/{{((portfoli.id))}}"  class="btn btn-primary btn-md" >Portfoli</a>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <a href="/formcard/{{((portfoli.id))}}" class="btn btn-primary btn-md">Create Card</a>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
